<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon test">

  <test  name="Test1">
  
 
    <classes>
      <class name="com.testcases.TC_LoginTest_001"/>
      <class name="com.testcases.TC_SearchProduct_002"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
